{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
  
{% block title %}Login Page
<link rel="icon" type="image/png" href="https://example.com/favicon.png"/>
{% endblock %}  
  
{% block page_content %} 
<div class="page-header">  
 <h1>Login</h1>  
 <h2>Welcome To My Blog</h2>  
</div>  
<div class="col-md-4">  
    {{wtf.quick_form(form)}}  
    <p>FORGET PASSWORD......
        <a href="{{url_for('artist.changepassword')}}">Click Here To Reset Password</a>
    </p>
   <p>JOIN US!
    <a href="{{url_for('artist.register')}}">Register Account</a>
</p>
</div>  
{% endblock %}