.bd-navbar {
    width:100%;
    min-height: 3rem;
    background-color:#DB7093;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 5%), inset 0 -1px 0 rgb(0 0 0 / 10%);
}
.navbar {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
}
.navbar-dark .navbar-brand {
    color: #fff;
}
.navbar-brand {
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    font-size: 1.25rem;
    
}
.nav-item {
    display: flex;
}
.bd-navbar .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    color: #FFFF00;
}
.nav-link {
    display: inline-block;
    font-size: 16px;
    padding: 0.5rem 1rem;
}
.bd-navbar .navbar-nav .nav-link.active {
    font-weight: 500;
}

.dropdown, .dropup {
    position: relative;
}
.dropdown-divider {
    height: 0;
    margin: 0.5rem 0;
    overflow: hidden;
    border-top: 1px solid #e9ecef;
}
.dropdown-item.active, .dropdown-item:active {
    text-decoration: none;
}
.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    text-align: inherit;
    white-space: nowrap;
    border: 0;
}
.li{
    text-align:center;
}