{% extends "base.html" %}
{% block title %}{{post.title}}{% endblock %}

{% block page_content %}
<div class="page-header">
    <h2>Post</h2>
</div>
<div>
    <h3>{{post.title}}</h3>
    {% if post.artist_id==current_user.id %}
    <div class="post-editor">
        <a href="{{url_for('blog.update_blog_post',post_id=post.id)}}">Edit</a>
    </div>
    {% endif %}
    <div>
        {{post.body}}
    </div>
    <div class="post-footer">
        Post By<a href="#">{{post.user.username}}</a> on {{post.create_date.strftime('%Y-%m-%d')}} in
        <a href="#">{{post.categorys.name}}</a>
    </div>
</div>
{% endblock %}