{% extends "base.html" %}
{% block title %}Blog_Post_List{% endblock %}

{% block page_content %}
<h1>Post List {{blog.blog_name}}</h1>
{% if blog.blog_cover_url %}
<div class="post-cover">
    <img src="{{ blog.blog_cover_url }}" width="200" height="200">
</div>
{% endif %}
<div class="post-list">
    {% for post in posts.items %}
    <div class="post-content">
        <a href ="{{url_for('blog.read_blog_post',slug=post.slug)}}">{{post.title}}</a>
        <div class="post-footer">Post By <a href="#">{{post.user.username}}</a> {{post.create_date.strftime('%Y-%m-%d')}} in
            <a href="#">{{post.categorys.name}}</a></div>
    </div>
    {% endfor %}
</div>
{% if blog.artist == current_user.id %}
    <div class="post-artist">
        <a href="{{ url_for('blog.update_blog_main', blog_id=blog.id) }}">Edit Your Blog Main</a>
    </div>
    {% endif %}
{% endblock %}