{% extends "base.html" %}
{% import "bootstrap/wtf.html"as wtf %}
{% import "_macro.html" as macros %}

{% block title %}Read Role {% endblock %}

{% block page_content %}
<div class="page_header">
    <h1>Read Role</h1>
</div>
<div class="func-list">
    <table class="table">
        <thead>
            <tr>
                {% for column in columns %}
                <th>{{column}}</th>
                {% endfor %}
            </tr>
        </thead>
        {% for role in roles.items %}
        <tr>
            <td>{{role.id}}</td>
            <td>{{role.name}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
<div class="paginate">
    {{ macros.macro_paginate(roles, 'main.role_manager_r') }}
</div>
{% endblock %}